.icon {
  background-color: #30f;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: $buttonBackground;
  text-decoration: none;
  padding: 0.8em 1.6em;
  margin-top: 5px;
  color: $buttonColor;
}